@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 210 11% 7%;

    --navbar: 0 0% 100%;
    --navbar-foreground: 210 11% 7%;

    --card: 0 0% 100%;
    --card-foreground: 210 11% 7%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 11% 7%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 180 4% 95%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 180 4% 95%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 180 4% 95%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 0 0% 100%;
    --ring: 240 5.9% 10%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 210 11% 7%;
    --foreground: 0 0% 98%;

    --navbar: 216 9% 10%;
    --navbar-foreground: 0 0% 98%;

    --card: 216 9% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 210 11% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 216 9% 10%;
    --secondary-foreground: 0 0% 98%;

    --muted: 216 9% 10%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 216 9% 13%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 216 9% 15%;
    --input: 216 9% 10%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}
